{% extends "base.html" %}

{% block homepage_selected %}unselected{% endblock homepage_selected %}
{% block portfolio_selected %}selected{% endblock portfolio_selected %}
{% block about_selected %}unselected{% endblock about_selected %}
{% block contact_selected %}unselected{% endblock contact_selected %}

{% block body %}{{ block.super }}

<span class="title">Work.</span>
<div class="portfolio-nav">
	<a href="{% url portfolio %}" class="{% block portfolio_main_selected %}selected{% endblock portfolio_main_selected %}" href="{% url portfolio %}">Main</a>
	<a href="{% url kalite %}" class="{% block portfolio_kalite_selected %}unselected{% endblock portfolio_kalite_selected %}">KA Lite</a>
	<a href="{% url ucsd %}" class="{% block portfolio_ucsd_selected %}unselected{% endblock portfolio_ucsd_selected %}">UCSD</a>
	<a href="{% url eslgenie %}" class="{% block portfolio_esl_selected %}unselected{% endblock portfolio_esl_selected %}">ESL Genie</a>
	<a href="{% url lindamoodbell %}" class="unselected">Lindamood-Bell</a>
</div>

<div class="portfolio-pieces-container">
	<a href="{% url kalite %}"> <div class="portfolio-pieces-kalite portfolio-pieces"></div></a>
	<a href="{% url ucsd %}"><div class="portfolio-pieces-ucsd portfolio-pieces"></div></a>
	<a href="{% url eslgenie %}"><div class="portfolio-pieces-esl portfolio-pieces"></div></a>
	<a><div class="portfolio-pieces-lindamood portfolio pieces"></div></a>
</div>


{% endblock body %}